
<title>Аукціон'16</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    
 <%= stylesheet_link_tag 'jumbotron-narrow', media: 'all' %>
 <style type="text/css">
    h1,h2{
      font-family: 'Open Sans', sans-serif;
      font-weight:900;
      margin-bottom: -10px;
      margin-top: 10px;
    }
    h2{
      font-size: 46px;
    }
    #fix{
    margin: 30px 0 10px;
    }
    #numbers{
      color:#D73B65;
    }
    #white{
      color: white;
    }
    .jumbotron{
      background-image: url("<%= image_url("cover.jpg") %>");
    }
    </style>


    <div class="container">
      <div class="jumbotron">
        <h1 id="white">БЛАГОДІЙНИЙ</h1>
        <h2 id="white">АУКЦІОН ПОБАЧЕНЬ</h2>
        <h1 id="numbers">12.02 &nbsp; &nbsp; &nbsp; &nbsp; 18:00</h1>
        <p id="fix"><a class="btn btn-lg btn-success hidden" href="login" role="button">Увійти</a></p>
      </div>

      <div class="row marketing">
      <div class="col-lg-3">
        <%= image_tag("oleksij.png", class: "img-circle") %>
      </div>
        <div class="col-lg-9">
          <p><b>Благодійний аукціон побачень 16’</b> – присвячений збору коштів
для <b>Самокиші</b> Олексія Петровича, студента Києво-Могилянської академії,
що в данний момент бореться зі страшною хворобою – рак печінки.</p>
          <p>Всі кошти зібрані на <b>Благодійному аукціоні побачень 16’</b> будуть перераховані на 
забезпечення лікування.</p>
          <p>Також можна пожертвувати кошти на лікування натиснуваши кнопку</p>
        </div>
      </div>
      <div class="text-center">
          <p><a class="btn btn-lg btn-warning" href="http://saveolexiy.com/en/" role="button">Donate</a></p>
        </div>
      <footer class="footer">
        <p>&copy; 2016 KMA FI</p>
      </footer>

    </div> <!-- /container -->