
<style type="text/css">
    body{
        background-color: #dddddd;
    }

    .center-block {
          display: block;
          margin-left: auto;
          margin-right: auto;
          background-color: #fff;
          border-radius: 5px;
          border: none;
          -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
          -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
          box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    }

    #sign_in_block{
          margin-top: 10%;
          width: 400px;
          height: 400px;  
    }

    .signInText{
        display: block;
        padding-top: 15%;
        width: 100%;
        text-align: center;
    }

    .withText{
        display: block;
        width: 100%;
        text-align: center;
    }

    .btn{
        width: 60%;
        margin-left: 20%;
        margin-top: 15px;
    }

    .btn:hover
    {
        color: white;
    }

    #info_block{
        margin-top: 10%;
        width: 400px;
        height: 450px; 
    }

    #about_block{
        width: auto;
        height: 150px;
        margin: 6%;
        position: relative;
        top: 5%;
        border-radius: 3px;
        background-color: #d9edf7;
        border: 1px solid #bce8f1;
    }

    .about_text{
        color: #3a8bc5;
        margin: 5%;
    }

    .input-group{
        width: 70%;
        margin-left: 15%;
        top: 30px;
        margin-top: 25px;
    }

    .input-group-btn>.glyphicon {
        top: 0px;
    }

    #done_button{
        width: 30%;
        margin-top: 70px;
        margin-left: 35%;
    }
</style>

<div id ="sign_in_block" class="center-block" style="display: none;">
    <h1 class="signInText">Sign in</h1>
    <h4 class="withText">with</h4>
    <a class="btn btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Facebook
    </a>
    <a class="btn btn-social btn-google">
        <span class="fa fa-google"></span>Google
    </a>
    <a class="btn btn-social btn-twitter">
        <span class="fa fa-twitter"></span>Twitter
    </a>
    <a class="btn btn-social btn-vk">
        <span class="fa fa-vk"></span>VK
    </a>
</div>

<div id ="info_block" class="center-block">
    <div id="about_block">
        <h5 class="about_text"><strong>Hey, man!</strong> Here is the message specially for you.</h5>
        <h5 class="about_text"><strong>We just need a little but more information about you.</strong></h5>
        <h5 class="about_text">Please, write down your true name and phone number.</h5>
    </div>
    <div class="input-group input-group-lg">
        <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1" style="top: 0px;"></span>
        <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
    </div>
     <div class="input-group input-group-lg">
        <span class="input-group-addon glyphicon glyphicon-earphone" id="basic-addon1" style="top: 0px;"></span>
        <input type="text" class="form-control" placeholder="Phone" aria-describedby="basic-addon1">
    </div>
    <button type="button" class="btn btn-success btn-lg" id="done_button">Done</button>
</div>