
<style type="text/css">
    body{
        background-color: #dddddd;
    }

    .center-block {
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 10%;
          width: 400px;
          height: 400px;    
          background-color: #fff;
          border-radius: 5px;
          border: none;
          -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
          -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
          box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    }

    .signInText{
        display: block;
        padding-top: 15%;
        width: 100%;
        text-align: center;
    }

    .withText{
        display: block;
        width: 100%;
        text-align: center;
    }

    .btn{
        width: 60%;
        margin-left: 20%;
        margin-top: 15px;
    }
</style>

<div class="center-block">
    <h1 class="signInText">Sign in</h1>
    <h4 class="withText">with</h4>
    <a class="btn btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Facebook
    </a>
    <a class="btn btn-social btn-google">
        <span class="fa fa-google"></span>Google
    </a>
    <a class="btn btn-social btn-twitter">
        <span class="fa fa-twitter"></span>Twitter
    </a>
    <a class="btn btn-social btn-vk">
        <span class="fa fa-vk"></span>VK
    </a>
</div>
